@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">
            ¡BIENVENIDO!
            @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
        </h1>
    }

    <p>Este es mi proyecto de CORE para gestionar usuarios y tareas, solo que esta vez estarán implementados Patrones de Diseño.</p>
</div>
